.main__home {
   position: relative;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   .home__title-news {
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
   }
   .home__update-description {
      padding: 16px 0 0px 0px;
   }
   .home__some-text {
      p {
         padding-top: 24px;
         margin: 0;
      }
   }
   .home__big-rect {
      position: absolute;
      top: 80px;
      right: -28.3px;
   }
}
