@import url("http://fonts.cdnfonts.com/css/montserrat");
@import "./all";

body {
   padding: 0;
   margin: 0;
   font-family: "Montserrat";
}
:active,
:hover,
:focus {
   outline: 0;
   outline-offset: 0;
}

.wrapper {
   .container {
      position: relative;
      top: 80px;
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "sidebar main";
      @media (max-width: 768px) {
         grid-template-columns: "main main";
         grid-template-columns: 1fr;
      }
      .container__main {
         .main__not-found {
            font-size: 40px;
            text-align: center;
         }
         .main__search {
         }
      }
   }
}
